.task-title {
  font-weight: bold;
}

.indent-one {
  margin-left: 1rem;
}

.indent-two {
  margin-left: 2rem;
}

.hint {
  margin-top: 0.5rem;
  opacity: 0.5;
  font-size: 0.85em;
}

.muted {
  opacity: 0.5;
}

.tag {
  font-weight: bold;
}

.tag-banter {
  color: #cf9ef7;
  font-style: italic;
}
