.window {
  display: flex;
  flex-direction: column;
  height: 98.5vh;
  margin: 0px;
  background-color: #000;
  color: lightgrey;
  font-family: "Terminus Font", monospace;
}

.window-content {
  flex: 1;
  display: grid;
  grid-auto-rows: 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: row; // pour l’instant, simple empilement vertical
  gap: 0.3rem;
  padding: 0.3rem;
}

.window-footer {
  background-color: #13a10e;
  color: black;
  flex-shrink: 0;
  text-align: right;
  padding: 0rem 0.5rem;
  margin: 0.3rem 1rem 0.3rem 0.3rem;
}
