<div>TASK: [<span class="task-title">Item Detail</span>] ******************************************</div>
<div>ok ==> {{ '{' }}</div>
<ng-container *ngIf="item; else notFound">
  <div class="indent-one">"id"          : {{ item.id }},</div>
  <div class="indent-one">"name"        : "{{ item.name }}",</div>
  <div class="indent-one">"type"        : "{{ item.type === 'ship' ? 'SHIP' : 'CONSUMABLE' }}",</div>
  <div class="indent-one">"rarity"      : <span [class]="'rarity-' + item.rarity">"{{ item.rarity }}"</span>,</div>
  <div class="indent-one">"price"       : {{ item.price }},</div>
  <div class="indent-one">"stock"       : <span [class.stock-sold]="isSoldOut(item)">{{ isSoldOut(item) ? '"SOLD"' : (item.remaining_stock + '/' + item.max_stock) }}</span>,</div>
  <div class="indent-one">"description" : "{{ item.description }}",</div>

  <ng-container *ngIf="item.type === 'ship'">
    <div class="indent-one">"stats" : {{ '{' }}</div>
    <div class="indent-two">speed           {{ item.stats?.speed }}</div>
    <div class="indent-two">capacity        {{ item.stats?.capacity }}</div>
    <div class="indent-two">durability      {{ item.stats?.durability }}</div>
    <div class="indent-two">inventory_space {{ item.stats?.inventory_space }}</div>
    <div class="indent-one">{{ '}' }}</div>
  </ng-container>

  <div class="indent-one" *ngIf="item.type === 'consumable'">"effect" : "{{ item.effect }}"</div>
</ng-container>
<ng-template #notFound>
  <div class="indent-one muted">Item not found.</div>
</ng-template>
<div>{{ '}' }}</div>
<div class="hint">Terminal usage: buy | buy &lt;quantity&gt; (unavailable once SOLD)</div>
<div *ngIf="buyError" class="error">{{ buyError }}</div>
