<div>TASK: [<span class="task-title">Equipment detail</span>] ******************************************</div>
<div>ok ==> {{ '{' }}</div>
<ng-container *ngIf="equipment; else notFound">
  <div class="indent-one">"id"          : {{ equipment.id }},</div>
  <div class="indent-one">"name"        : "{{ equipment.name }}",</div>
  <div class="indent-one">"description" : "{{ equipment.description }}",</div>
  <div class="indent-one">"effect"      : "{{ equipment.effect }}",</div>
  <div class="indent-one">"rarity"      : <span [class]="'rarity-' + equipment.rarity">"{{ equipment.rarity }}"</span>,</div>
  <div class="indent-one">"price"       : {{ equipment.price }},</div>
  <div class="indent-one">"quantity"    : {{ equipment.quantity }},</div>
  <div class="indent-one" *ngIf="equipment.assigned_to_ship">"assigned_to" : "Ship #{{ equipment.assigned_to_ship }}"</div>
  <div class="indent-one muted" *ngIf="!equipment.assigned_to_ship">"assigned_to" : null</div>
</ng-container>
<ng-template #notFound>
  <div class="indent-one muted">Equipment not found: {{ id }}</div>
</ng-template>
<div>{{ '}' }}</div>
<div class="hint">[ assign &lt;shipId&gt; ] [ unassign ]</div>
