:host {
  display: flex;
  flex: 1;
  min-height: 0; /* required to prevent overflow */
  min-width: 0;
}

.split {
  display: flex;
  flex: 1;
  min-height: 0;
  min-width: 0;
}

.split.row {
  flex-direction: row;
}

.split.column {
  flex-direction: column;
}

.leaf {
  display: flex;
  flex: 1;
  min-height: 0;
  min-width: 0;
  overflow: hidden;
}

.panelContent {
  display: flex;
  flex: 1;
  min-height: 0;
  min-width: 0;
}
