.task-title {
  font-weight: bold;
}
.indent-one {
  margin-left: 1rem;
}
.indent-two {
  margin-left: 2rem;
}

.candidate-name {
  font-weight: bold;
}

.archetype {
  opacity: 0.7;
}

.perk {
  color: #7ecf7e;
}
.flaw {
  color: #cf7e7e;
}

.hint {
  margin-top: 0.5rem;
  opacity: 0.5;
  font-size: 0.85em;
}
