<div class="panel" [class.active]="isActive">
  <div class="panel-content">
    <ng-container [ngSwitch]="panel.module">

      <div *ngSwitchCase="'none'">Panel vide</div>

      <app-recruit-list *ngSwitchCase="'recruit-list'" #moduleInstance></app-recruit-list>

      <app-recruit-detail *ngSwitchCase="'recruit-detail'" [id]="panel.data?.id" #moduleInstance></app-recruit-detail>

      <p *ngSwitchDefault>Module inconnu : {{ panel.module }}</p>

    </ng-container>
  </div>


  <!-- Invite de commande -->
  <div class="panel-command-line">
    <span class="prompt">[{{ prompt }}]$</span>

    <textarea
    #cmdInput
    class="command-input"
    (focus)="onFocus()"
    [value]="panel.terminal?.getInput()"
    (input)="autoResize($event); panel.terminal?.setInput($any($event.target).value)"
    (keydown.enter)="panel.terminal?.execute(commandService.routeCommand.bind(commandService))"
    (keydown.arrowup)="panel.terminal?.historyPrevious()"
    (keydown.arrowdown)="panel.terminal?.historyNext()"
  ></textarea>
  </div>
</div>
