.panel {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  min-width: 0;
  padding: 8px;
  border: 1px solid #444;
  background: #111;
  height: 100%;
}

.panel.active {
  border-color: #13A10E;
}

.panel-content {
  //flex: 1;
  overflow: auto;
  height: fit-content;
  min-height: 0;
  min-width: 0;
}

.panel-command-line {
  width: 100%;
  min-height: 0;
  min-width: 0;
  //border-top: 1px solid #333;
  background: #111;
  display: flex;
  align-items: flex-start;
  //gap: 0.5rem;

}

.prompt {
  margin-right: 0.5rem;
  white-space: nowrap;
  color: lightgrey;
  flex-shrink: 0;
}

.command-input {
  flex: 1;
  resize: none;
  border: none;
  outline: none;
  background: transparent;
  color: lightgrey;
  font-family: monospace;
  font-size: 1rem;
  line-height: 1.2rem;
  overflow-wrap: break-word;
  overflow-y: hidden;
  min-height: 1.2rem;
  padding: 0;
}
