.module-borders 
  display: flex
  flex-direction: column
  height: 100%
  background-color: #000
  color: lightgrey
  font-family: 'Terminus Font', monospace
  grid-row: span 1
  grid-column: span 1


.module-footer
  background-color: #13A10E
  color: black
  text-align: right
  padding: 0rem 0.5rem  
  margin: 0.3rem 1rem 0.3rem 0.3rem

.module-border-right
    border-right: 1px solid lightgrey

.module-border-left
    border-left: 1px solid lightgrey
    
.module-border-top
    border-top: 1px solid lightgrey
    
.module-border-bottom
    border-bottom: 1px solid lightgrey

.selected
  .module-borders
    border-color: #13A10E !important

.module-command-line-container
  display: flex
  flex-direction: row
  align-items: center

.module-prompt
  color: lightgrey
  margin-right: 0.5rem

.module-command-line
  flex: 1
  color: lightgrey
  background-color: black
  border: none
  outline: none
  box-shadow: none
  caret-color: lightgrey
  font-family: monospace
  font-size: 1rem