.module-container 
  display: flex
  flex-direction: column
  height: 100%
  background-color: #000
  color: lightgrey
  font-family: 'Terminus Font', monospace

.module-content 
  flex: 1
  padding: 1rem
  overflow: auto

.module-footer
  background-color: #13A10E
  color: black
  text-align: right
  padding: 0rem 0.5rem  
  margin: 0.3rem 1rem 0.3rem 0.3rem

.module-border-right
    border-right: 1px solid lightgrey

.module-border-left
    border-left: 1px solid lightgrey
    
.module-border-top
    border-top: 1px solid lightgrey
    
.module-border-bottom
    border-bottom: 1px solid lightgrey

.selected
  .module-container
    border-color: #13A10E !important