.recruit-list, .recruit-detail {
  padding: 0.5rem;
}

.task-title {
  font-weight: bold;
}

.indent-one {
  margin-left: 1rem;
}

.indent-two {
  margin-left: 2rem;
}

.perk {
  color: #7ecf7e;
}

.flaw {
  color: #cf7e7e;
}

.muted {
  color: #888;
}
